body {
	padding: 7rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;

	font-size: 12px;
}

thead,
tfoot {
	background: #333;
	color: white;
}

th,
td {
	text-align: left;
	padding: 2px 4px;
}

th {
	cursor: pointer;
	position: relative;
}

tbody tr:nth-child(even) {
	background: #f2f2f2;
}

.resizer {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	height: 100%;
	width: 5px;
	background-color: #27bbff;
	cursor: col-resize;
	user-select: none;
	touch-action: none;
	border-radius: 6px;
}

.resizer.isResizing {
	background-color: #2eff31;
	opacity: 1;
}

*:hover > .resizer {
	opacity: 1;
}

td {
	overflow: hidden;
	/* white-space: nowrap; */
	text-overflow: ellipsis;

	&.item_desc {
		overflow: hidden;
		/* max-width: 180px; */
		text-overflow: ellipsis;
		/* white-space: nowrap; */
	}
}

@media print {
	.item_desc {
		overflow: hidden;
		max-width: 180px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	body {
		margin: 0;
		padding: 0;
	}

	.d-print-none {
		display: none;
	}

	table {
		font-size: 12px;
		border: 1px solid #000;

		tr {
			background-color: #fff !important;
			color: #000;
		}

		th,
		td {
			border: 1px solid #000;
		}
	}
}
